{{!< default}}

<main class="gh-main gh-outer">

    <section class="gh-archive gh-inner">
        <div class="gh-archive-inner">
            <header class="gh-archive-wrapper">
                <h1 class="gh-article-title is-title">{{t "Tags"}}</h1>
            </header>
        </div>
    </section>

    <div class="gh-container gh-outer">
        <div class="gh-container-inner gh-inner">
            <div class="gh-main">
                {{#get "tags" limit="all" order="count.posts desc"}}
                    <ul class="gh-tags-index-list">
                        {{#foreach tags}}
                            <li class="gh-tags-index-item">
                                <a class="gh-article-tag" href="{{url}}">{{name}}</a>
                                <span class="gh-tags-index-count">{{count.posts}}</span>
                            </li>
                        {{/foreach}}
                    </ul>
                {{/get}}
            </div>
        </div>
    </div>

</main>
